@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: #1f1f1f;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
