.modalContainer {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 28px;
  background-color: #f0f4f8;
  padding-top: 42px;
  padding-bottom: 10px;
  width: 448px;
  position: absolute;
  z-index: 5;
}

.modalHeader {
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  width: 100%;

  & > i {
    position: absolute;
    top: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  & > i:first-of-type {
    left: 15px;
  }

  & > i:last-of-type {
    right: 15px;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0 16px;
    padding: 8px 0 17px 52px;

    & > input {
      width: 100%;
      height: 30px;
      padding-bottom: 2px;
      border: none;
      background-color: transparent;
      font-size: 1.35rem;
      line-height: 1.5rem;
      border-bottom: 1px solid #c4c7c5;

      &::placeholder {
        font-size: 1.35rem;
        color: #1f1f1f;
      }

      &:focus {
        outline: none;
      }
    }

    .focus {
      border-bottom: 2.5px solid #0b57d0;
    }
  }

  .content {
    .buttons {
      margin: 0 16px;
      padding-left: 52px;
      display: flex;
      gap: 8px;

      & > button {
        padding: 0 8px;
        height: 36px;
        border-radius: 8px;
        font-size: 0.875rem;
      }

      .active {
        background-color: #c2e7ff;
      }
    }

    .settings {
      margin-top: 16px;
      margin-bottom: 20px;

      .timeSetting {
        margin: 0 16px;
        display: flex;

        & > i {
          font-size: 20px;
          width: 36px;
          height: 40px;
          padding-right: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .timeWrapper {
          padding: 8px 8px 0 0;
          margin-left: 8px;
          height: 52px;
          box-sizing: border-box;
          text-align: start;

          & > div:first-of-type {
            display: flex;
            font-size: 0.875rem;

            & > span:not(:nth-child(3)) {
              padding: 0 8px;
            }
          }

          & > div:last-of-type {
            margin-top: 2px;
            font-size: 12px;
            padding-left: 8px;
            padding-bottom: 8px;
          }
        }

        .selects {
          margin-left: 8px;

          & button {
            background-color: #dde3ea;
            font-size: 14px;
            padding: 0 16px;
            border-radius: 4px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .selectTimeWrapper {
          display: flex;
          gap: 8px;
          align-items: center;
        }

        .checkAllDay {
          margin: 8px 0;
          height: 40px;
          display: flex;
          align-items: center;

          & > label {
            display: flex;
            align-items: center;
            margin-right: 16px;
            font-size: 14px;

            & > input {
              appearance: none;
              border: 2px solid black;
              border-radius: 2px;
              width: 18px;
              height: 18px;
              margin: 11px 21px 11px 0;

              &:checked {
                border-color: transparent;
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
                background-size: 100% 100%;
                background-position: 50%;
                background-repeat: no-repeat;
                background-color: #0b57d0;
              }
            }
          }

          & > span {
            padding: 0 12px;
            color: #0b57d0;
            font-size: 14px;
          }
        }

        .repeatBtn {
          background-color: #dde3ea;
          font-size: 14px;

          & > i {
            width: 24px;
            height: 24px;
            margin-left: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}

.modalFooter {
  padding: 2px 16px;
  display: flex;
  justify-content: right;

  & > button {
    font-size: 0.875rem;
    white-space: nowrap;
    height: 40px;
  }

  .option {
    color: #0b57d0;
    padding: 0 12px;
    margin: 4px 8px 4px 0;
  }

  .saveBtn {
    margin: 4px 0;
    padding: 0 24px;
    background-color: #0b57d0;
    color: #ffffff;
    border-radius: 9999px;
  }
}
