.todo {
  position: absolute;
  top: 0;
  z-index: 5;
  width: calc(100% - 21px);
  background-color: rgb(3, 155, 229);
  color: white;
  border-radius: 6px;
  min-height: 46px;
  padding-left: 8px;
  padding-top: 4px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 15px;
}
