.timeWrapper {
  padding: 8px 8px 0 0;
  margin-left: 8px;
  height: 52px;
  box-sizing: border-box;
  text-align: start;

  & > div:first-of-type {
    display: flex;
    font-size: 0.875rem;

    & > span:not(:nth-child(3)) {
      padding: 0 8px;
    }
  }

  & > div:last-of-type {
    margin-top: 2px;
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 8px;
  }
}
